/*first color : #08526D*/
/*second color :#EB1C22*/
body {overflow-x: hidden;}
/*start upper bar*/
.upper-bar{
    background-color: #08526D;
    color: #fff;
}
.upper-bar .info{
    margin: 10px 0;
}
@media (max-width:576px){
    .upper-bar .info:first-child
    {
        margin-bottom:0;
    }
}
.upper-bar span{
    color: #bfc6c9;
}
.upper-bar .get-quate{
    border: 1px solid #ec1c23;
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    
}

.upper-bar .get-quate:hover{
    color: #ec1c23;
    border: 1px solid #fff;
     -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media (max-width:576px){
    .upper-bar .get-quate
    {
       border:none;
    }
}

/*end upper bar*/

/*start navbar*/
.navbar-brand{ 
    margin-right: 9rem;
}

.navbar-brand span{
    font-size: 30px;
}

.navbar-brand span:first-child{
    color: #08526D ;
    font-weight: bold;
    
}
.navbar-brand span:last-child{
    color: #EB1C22;
}

.navbar-light .navbar-nav .nav-link{
    color: #08526D;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #ec1c23;
}
 
/*end navbar*/

/*start slider*/

.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
}

@media (max-width:768px){
    .slider .carousel-inner
    {
        justify-content: center;
    }
}

.slider .carousel-inner h1{
    position: absolute;
    color: #fff;
    z-index: 2;
     font-size: 50px;
    max-width: 585px;
    font-weight: 600;
    line-height: 1.4;
    left: 100px;
}

@media (max-width:768px){
    .slider .carousel-inner h1
    {
        font-size: 30px;
        max-width: 100%;
        left: auto;
        text-align: center;
    }
}

.slider .carousel-inner h1 span{
    background-color: #ec1c23;
    display: inline-block;
    padding: 0px 5px;
}

.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 0.6;
    top: 0;
    left: 0;
}
.slider .carousel-item{
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slider .carousel-item .carousel-one
{
    background-image: url('../img/slider1.jpg');
}
.slider .carousel-item .carousel-two
{
    background-image: url('../img/slider2.jpeg')
}
.slider .carousel-item .carousel-three
{
    background-image: url('../img/slider3.jpg')
}
.slider .carousel-indicators li{
    cursor: pointer;
    height: 5px;
}
/*end slider*/

/*start features*/

.features{
   margin-top: 40px; 
}

@media (max-width:768px){
       .features .info
    {
        padding-left:10px;
    }
}

.features i{
    background-color: #ed1d24;
    color: #fff;
    font-size: 27px;
    padding: 8px;
    margin-bottom: 10px;
}

.features h3{
    font-size: 23px;
    color: #08526D;
}

.features p{
    color: #7B8386;
}
/*end features*/

/*start overview*/
.overview{
   background-color: #F0F5F8;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width:576px){
    .overview
    {
       margin-top: 15px;
       padding-top: 30px;
       padding-bottom: 35px;
    }
}
.overview h2{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (max-width:992px){
       .overview h2
    {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

.overview p{
    line-height: 1.7;
    width: 85%;
    text-align: center;
    margin: 0 auto 15px;
    color: #6a6a6a;
}

@media (max-width:992px){
       .overview p
    {
        width: 100%;
    }
}

.overview h4{
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: normal;
    color: #8b8a8a;
}

.overview button{
    background-color: #EC1D23;
    color: #fff;
    border: 1px solid #EC1D23;
    font-size: 16px;
    padding: 4px 27px;
    letter-spacing: 2px;
    font-weight: 500;
    
}

.overview button:hover{
      background-color: #08526D;
      color: #fff;
      border: 1px solid #08526D;
      cursor: pointer;  
      -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;          
} 

/*end overview*/

/*start featured work*/

.featured-work{
    padding: 45px 0;
}
@media (max-width:576px){
    .featured-work
    {
       padding: 25px 0;
    }
}
.featured-work h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}
.featured-work p{
    line-height: 1.5;
    width: 94%;
    text-align: center;
    margin: 0 auto 15px;
    color: #6a6a6a;
}
.featured-work ul{
    margin: 30px  auto 50px ;
}
@media (max-width:576px){
    .featured-work ul
    {
       margin: 30px  auto 30px ;
    }
}
.featured-work ul li{
    color: #08526D;
    border: 2px solid #08526D;
    margin-left: 10px;
    padding: 8px 10px;
    margin-bottom: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.featured-work ul li:hover{
cursor: pointer;    
}

.featured-work ul li.active,
.featured-work ul li:hover{
    background-color: #EB1C22;
    color: #fff;
    border: 2px solid #EB1C22;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.featured-work .shuffle-images .row{
    margin: 0;
}

.featured-work .shuffle-images .row img{
    max-width: 100%;
}
.featured-work .shuffle-images .row .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
    padding: 0;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}
/*end featured work*/

/*start latest post*/

.latest-post .section-description h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}
.latest-post .section-description p{
    line-height: 1.5;
    width: 94%;
    text-align: center;
    margin: 0 auto 50px;
    color: #6a6a6a;
}
.latest-post .card{
    margin-left: 20px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    margin-top: 30px;
}
@media (max-width:576px){
    .latest-post .card
    {
        margin-left:0;
        margin-top: 10px;
    }
}
.latest-post .card .card-title {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 16px;
    color: #08526D;
}
.latest-post .card .card-subtitle{
    color: #9fadb4 !important;
}
.latest-post .card .card-text{
    font-size: 15px;
    color: #727171;
    margin-bottom: 0.2rem;
}

.latest-post .card .card-link{
    color:#EB1C22 ; 
    font-weight: 600;
}

.latest-post .card .card-link:hover{
    color: #08526D;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*end latest post*/

/*start testimonials*/

.testimonials{
  background: url('../img/team.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position: relative;
}
.testimonials .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 0.6;
    top: 0;
    left: 0;
}
.testimonials .container{
    position: relative;
    z-index: 4;
}

.testimonials .carousel-caption{
    margin-bottom: 7%;
}

.testimonials .carousel-caption img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.testimonials .carousel-caption h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.testimonials .carousel-caption span{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.testimonials .carousel-caption p{
    margin-top: 20px;
    font-size: 15px;
}

.testimonials .carousel-indicators li{
    cursor: pointer;
    height: 5px;
}

.testimonials .carousel-control-next, .carousel-control-prev {
    z-index: 5;
}

/*end testimonials*/

/*start pricing table*/

.pricing-table{
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #F0F5F8;
}
@media (max-width:576px){
    .pricing-table
    {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .pricing-table .section-description p{
        margin-bottom: 0;
    }
    .pricing-table .info{
        margin-right: 0px;
        margin-left: -19px;
    }
}
.pricing-table .section-description h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}
.pricing-table .section-description p{
    line-height: 1.5;
    width: 94%;
    text-align: center;
    margin: 0 auto 50px;
    color: #6a6a6a;
}
.list-group-flush .list-group-item{
  margin: auto;
  border: none; 
  padding: 8px ; 
}

.pricing-table .card{
    margin-left: 20px;
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    margin-top: 30px;
}

.pricing-table .card:hover{
    top:-10px;
}

@media (max-width:576px){
    .pricing-table .card:hover
    {
       top:0;
    }
}

.pricing-table .card .card-title {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 16px;
    color: #08526D;
    margin-top: 30px;
}
.pricing-table .card .card-subtitle{
    color: #9fadb4 !important;
}
.pricing-table .card .card-text{
    margin-top: 30px;
    color: #08526D;
    background-color: #f9f9f9;
    padding: 12px 0;
    font-size: 25px;
    font-weight: bold;
}

.pricing-table .card .card-text:hover{
    color: #fff;
    background-color: #ec1c23;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    
}

.pricing-table .card .card-text span{
    font-size: 10px;
    text-transform: uppercase;
}

.pricing-table .card .card-link{
   background-color: #EB1C22;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 13px;
    
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.pricing-table .card .card-link:hover{
    background-color: #08526D;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;            
}

/*end pricing table*/

/*start choose us*/

.choose-us  img{
       width: 100%; 
       height: 466.7px;
}

.choose-us .info{
    overflow: hidden;
    padding-left: 30px;
    padding-right: 20px;
    color: #fff;
    background-color: #08526D;
}
@media(max-width:576px){
    .choose-us .info
    {
    padding-left: 30px;
    padding-right: 30px;
    }
}

.choose-us .info h2{
    padding-top: 55px;
}
.choose-us .info p{
    font-size: 15px;
    padding-top: 20px;
}

.choose-us .info a{
    color: #fff;
    display: inline-block;
    background-color: #EB1C22;
    padding-top: 10px;
    padding: 5px 12px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-decoration: none;
}

.choose-us .info a:hover{
    color: #EB1C22;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*end choose us*/

/*start stats*/
.statistics{
    padding-top: 60px ;
    color: #08526D;
    text-align: center;
}
.statistics .stats-box{
    margin-bottom: 40px;
}
.statistics span{
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.statistics p{
    color: #EB1C22;
    font-size: 16px;
}
/*end stats*/

/*start contact*/
.contact-us{
    background-color: #EB1C22;
    color: #fff;
    padding: 50px 0;
}

.contact-us p{
    font-size: 20px;
    margin: 0;
}

@media(max-width:768px){
    
    .contact-us p
    {
    margin-bottom:20px
    }
}

.contact-us a{
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

/*end contact*/

/*start footer*/
.footer{
    padding: 60px 0;
}
.footer .site-info h2 span:first-child{
    color: #08526D ;
    font-weight: bold;
    
}
.footer .site-info h2 span:last-child{
    color: #EB1C22;
}
.footer .site-info p{
    color: #7a7a7a;
    margin-top: 25px;
}
.footer .site-info li{
    color: #08526D;
    padding-right: 2px;
}

.footer .site-info li:hover{
    color: #ec1c23;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.footer .site-info a{
    color: #08526D;
    font-weight: 600;
    font-size: 15px;
}

.footer .site-info a:hover{
    color: #ec1c23;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.footer .helpful-link h2, .footer .contact h2{
    color: #08526D ;
    font-size: 25px; 
    margin-bottom: 35px;   
}
.footer .helpful-link .wid-font{
    display: inline-block;
    font-size: 11px;
    padding-right: 5px;
    color: #7a7a7a;
}
.footer .helpful-link li{
    display: inline-block;
    color: #7a7a7a;
}

.footer .contact ul li{
    margin-bottom: 24px;
    color: #7a7a7a;
}

@media(max-width:992px){
    .footer{
        padding:30px 10px 0 30px;
    }
    .footer .helpful-link h2,
    .footer .contact h2
    {
       margin-top: 25px;
       margin-bottom: 10px;
    }
    
    .footer .contact ul li{
        margin-bottom: 0px;
    }
}

/*end footer*/


/*start copyright*/

.copy-right{
    border-top: 1px solid #c0c0c0;
    padding: 25px;
}

.copy-right ul{
    margin: 0;
}

.copy-right ul li{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    color: #777;
    font-size: 18px;
}

.copy-right ul li:hover{
    color: #08526D;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media(max-width:768px){
    .copy-right ul
    {
       margin-top: 10px;
    }

/*end copyright*/











































